@model IEnumerable<HospitalCMS.Models.EventDto>

@{
    ViewBag.Title = "List";
}

<h2>Event List</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

}

<div class="thumbnail-flex">
    @foreach (var item in Model)
    {

        <div class="thumbnail thumbnail-flex-item">
            @{
                string imageurl = "/Content/Images/Events/default.png";
                if (item.HasPic)
                {
                    imageurl = "/Content/Images/Events/" + item.EventId + "." + item.PicExtension;
                }
            }
            <img src="@imageurl" alt="article image">
            <div class="caption">
                <h3>@item.Title</h3>
                <p class="text-primary">Scheduled on @item.Date.ToString("f")</p>
                @{
                    var shortdescription = string.Empty;
                    if (item.Description != null)
                    {
                        shortdescription = item.Description.Length > 99 ? item.Description.Substring(0, 100) : item.Description;
                    }

                }
                <p> @shortdescription ... </p>

                <p>
                    <a href="/Event/Details/@item.EventId" class="btn btn-primary" role="button">Details</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a href="/Event/Edit/@item.EventId" class="btn btn-default" role="button">Edit</a>
                        <a href="/Event/ConfirmDelete/@item.EventId" class="btn btn-danger" role="button">Delete</a>
                    }

                </p>
            </div>
        </div>

    }
</div>

